body {
  text-align: center;
  color:gold;
  background-color:#000000;
}

hr {
  background-color: gold;
  height: 5px;
  border: none;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

.months{
  font-size: 2rem;
}

.table{
 color: gold;
 text-align: center;
 font-weight: 600;
 font-size: 2rem;
}

.tableHead{
  color: gold;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.reasons{
  font-stretch: extra-expanded;
  font-size: 2rem;
  color: gray;
}

.name{
  font-size: 2rem;
  font-style: oblique;
}

.links{
  color: gray;
  font-size: 2rem;
}
